<div class="fondo-modal-imagen animated fadeIn fast" [class.oculto]="modalImagenService.ocultarModal">
    <div id="responsive-modal" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Cargar imagen</h4>
                    <button type="button" (click)="cerrarModal()" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <h3>Selecciona una imagen</h3>
                    <div class="mb-3 text-center">
                        <img *ngIf="!imgTemp" [src]="modalImagenService.img" alt="" class="img-avatar">
                        <img *ngIf="imgTemp" [src]="imgTemp" alt="" class="img-avatar">
                    </div>
                    <input type="file" (change)="cambiarImagen($event)" aria-label="selecciona imagen">
                </div>
                <div class="modal-footer">
                    <button type="button" (click)="cerrarModal()" class="btn btn-default waves-effect" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger waves-effect waves-light">Actualizar imagen</button>
                </div>
            </div>
        </div>
    </div>
</div>